/*顶部标题*/
body{
	width: 1170px;
	margin: 0 auto;
	font-family:"微软雅黑";
}
.top_nav{
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #CCC4C4;
	color: rgb(102,102,102);
}
.top_nav_left > li,.top_nav_right > li{
	padding: 0 8px;
	display: inline-block;
}
.top_nav_left{
	float: left;
}
.top_nav_right{
	float: right;
}
.Collection{
	text-indent: 20px;
	background: url(../img/9.png) no-repeat center;
	-ms-background-position: 10px;
	background-position: 10px;
}
.Sign_in{
	color: red;
}
.phone{
	position: relative;
	width: 80px;
	text-indent: 20px;
	background: url(../img/10.png) center,url(../img/12.png) center;
	background-repeat:no-repeat,no-repeat;
	-ms-background-position: 10px,80px;
	background-position: 10px,80px; 	
}
.phone:hover{
	outline: 1px solid #CAC2C2;
	background: url(../img/10.png) center,url(../img/16.png) center;
	background-repeat:no-repeat,no-repeat;
	-ms-background-position: 10px,80px;
	background-position: 10px,80px; 
}
.phone ul{
	display: none;
	position: absolute;	
	border: 1px solid #CAC2C2;
	left: -1px;
	width: 146px;
	z-index: 3;
	background: #fff;
}
.phone ul li img{
	margin-left:5px; 
}
.cover{
	display: none;
	position: absolute;
	width: 100%;
	height: 5px;
	background: #fff;
	left: 0px;
	bottom: -2px;
	z-index: 5;
}
.phone:hover .cover,.phone:hover ul,.me_meiuan:hover .cover,.me_meiuan:hover .order,
.Recent_browse:hover .cover,.Recent_browse:hover ul,.Shopping_Cart:hover .cover,.Shopping_Cart:hover ul{
	display: block;
}
.bottom_border{
	border-bottom: 1px solid #D2C9C9;
}
.shuxian{
	margin-right: 5px;
	font-weight: bold;
	color: #45F05D;
	margin-left: -10px;
}
.me_meiuan,.Recent_browse{
	position: relative;
	background: url(../img/12.png) no-repeat center;
	-ms-background-position: 60px;
	background-position: 60px; 
	width: 65px;
}
.me_meiuan:hover,.Recent_browse:hover{
	outline: 1px solid #CAC2C2;
	background: url(../img/16.png) no-repeat center;
	-ms-background-position: 60px;
	background-position: 60px; 
}
.order{
	display: none;
	position: absolute;
	top: 30px;
	left: -1px;
	border: 1px solid #BCB4B4;
	width: 100%;
	text-align: center;
	background: #fff;
	z-index: 2;
}
.record,.commodity{
	display: none;
	position: absolute;
	top: 30px;
	right: -1px;
	border: 1px solid #BCB4B4;
	width: 200%;
	height: 50px;
	text-align: center;
	background: #fff;
	z-index: 2;
}


.top_nav_right span{
	color: #D8D5D5;
}
.number{
	color: red;
	margin:0 2px; 
}
.Shopping_Cart{
	position: relative;
	width: 90px;
	text-indent: 20px;
	background: url(../img/11.png) center,url(../img/12.png) center;
	background-repeat:no-repeat,no-repeat;
	-ms-background-position: 10px,90px;
	background-position: 10px,90px; 	
}
.Shopping_Cart:hover{
	background: url(../img/11.png) center,url(../img/16.png) center;
	background-repeat:no-repeat,no-repeat;
	-ms-background-position: 10px,90px;
	background-position: 10px,90px; 	
	outline: 1px solid #CAC2C2;
}
/*广告*/
.advertisement{
	height: 71px;
}
.picture{
	position: relative;
}
.picture img{
	position: absolute;
}
.picbut{
	position: absolute;
	right: 0;
	bottom: -71px;
	z-index: 1;
	width: 28px;
	height: 16px;
	border-radius:6px;
	background: #767373;
}
.picbut li{
	margin-left: 4px;
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius:50%;
	background: #fff;
}
.close{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 20px;
	cursor: pointer;
	color: #BDB5B5;
}
.close:hover{
	color: #2A2727;
}
/*图标、搜索框*/
.sign_left{
	float: left;
}
.mid_nav{
	margin-top: 20px;
}
.signpic{
	float: left;
}
.city{
	float: right;
	margin-left:5px; 
}
.shenzhen{
	font-weight: bold;
	font-size: 20px;
}
.switch_city{
	border: 1px solid #B9B4B4;
	color: #ADABAB;
	padding: 3px;
	margin-left:10px; 
}
.search{
	float: left;
	text-align: center;
	font-size: 14px;
	margin-left: 210px;
}
.choice{
	position: relative;
	display: inline-block;
	width: 65px;
	height: 36px;
	border: 2px solid #2BB8AA;
	border-right: 1px solid #C4BABA;
	vertical-align:middle;
	margin-right: -5px;
	line-height: 36px;
	background: url(../img/12.png) no-repeat center;
	-ms-background-position: 50px;
	background-position: 50px; 
}
.choice:hover{
	background: url(../img/16.png) no-repeat center;
	-ms-background-position: 50px;
	background-position: 50px; 
}
.choice:hover li{
	display: block;
}
.choice li{
	position: absolute;
	display: none;
	border:1px solid #C4BABA;
	border-top: none;
	width: 100%;
	left: -1px;
	background: #fff;
}
.search1{
	width: 360px;
	height: 36px;
	vertical-align:middle;
	border: 2px solid #2BB8AA;
	border-left: none;
	text-indent: 10px;
}
input {outline:none;}
.search2{
	width: 65px;
	height: 40px;
	vertical-align:middle;
	background: #2BB8AA;
	border:none;
	margin-left: -5px;
	color: #fff;	
}
.list_food li{
	display: inline-block;
	margin:15px 6px;
	font-size: 12px;
}
.sign_right{
	float: right;
}
.sign_right span{
	display: inline-block;
	margin: 0 5px;
}
.i_wandh{
	width: 30px;
	height: 25px;
	display: block;
}
.twospan{
	width: 55px;
}
.back{	
	background: url(../img/6.jpg) no-repeat center center;
}
.free{	
	background: url(../img/7.jpg) no-repeat center;
}
.overdue{	
	background: url(../img/8.jpg) no-repeat center;
}
/*全部分类*/
.content{
	/*height: 528px;*/
}
.title_navigation{
	float: left;
	width: 250px;
	position: relative;
	
}
.title_navigation h1{
	color: #fff;
	height: 40px;
	background: #1EBDA7;
	line-height: 40px;
	text-indent: 15px;
}
.All_navigation{
	border: 1px solid #DBD9D9;
}
.list{
	height: 53px;
	line-height: 53px;
	padding: 0 15px;
	margin-top: 1px;
	background: #F7F4F4;
}
.list a{
	color: #000;
}
.list_left{	
	height: 53px;
	border-bottom: 1px solid #CFCACA;	
	position: relative;
}
.list:hover{
	background: #FFFFFF;
	outline: 1px solid #CFCACA;	
}

.list:hover .list_right{
	display: block;
}
.list:hover i{
	opacity: 0;
	filter: alpha(opacity=0);
}
.cover1{
	display: none;
	position: absolute;
	right: -17px;
	width: 3px;
	height: 100%;
	background: #fff;
	z-index: 7;
}
.list:hover .cover1{
	display: block;
}
.list_big{
	float: left;
	font-size: 15px;
	font-size: bold;
}
.list_small{
	float: right;
	font-size: 12px;
	color: #A19898;	
}
.list_left i{
	display: inline-block;
	float: right;
	width: 16px;
	height: 53px;
	background: url(../img/17.png) no-repeat center right;
}
.list_right{
	position: absolute;
	left: 249px;
	width: 250px;
	top: 40px;
	border: 1px solid #DBDADA;
	background: #fff;
	display: none;
	height: 485px;
	z-index: 6;
}

.list_right dl{
	font-size: 18px;
	margin-left:15px;		
	margin-bottom: 20px;
}
.fl{float: left;}
.fr{float: right;}
.list_right dd{
	width: 110px;
	float: left;
	margin-top: -20px;
	margin-left:15px;

}
.list_right a{
	display: block;
	height: 28px;
	line-height: 28px;
}
.Navigation{
	float: left;
	height: 40px;
	width: 920px;
	background: #2BB8AA;
}
.Navigation_ul li{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	margin: 0 30px;
}
/*中间导航*/
.mid_content{
	width: 721px;

	float: left;
}
.mid_nav_list dl{
	margin: 0 20px;
	
	height: 53px;
	border-bottom: 1px solid #CBC4C4;
}
.mid_nav_list dl dd,.mid_nav_list dl dt{
	display: inline-block;
	height: 53px;
	line-height: 53px;
	margin: 0 9px;
	color: #747272;
}
.dt_1{
	text-indent: 20px; 
	background: url(../img/13.png) no-repeat center left;
}
.dt_2{
	text-indent: 20px; 
	background: url(../img/14.png) no-repeat center left;
}
.dt_3{
	text-indent: 20px; 
	background: url(../img/15.png) no-repeat center left;
}
/*右侧扫一扫*/
.Sweep{
	float: right;
	text-align: center;
	border: 1px solid #CBC9C9;
}
.Sweep_two{
	border-top: 1px solid #CBC9C9;
	height: 326px;
}
.Sweep_two h3{
	margin-top: 60px;
	font-size: 25px;
}
.Sweep_two h4{
	color: #AFABAB;
	font-size: 14px;
	font-weight: 100;
	margin-top: 12px;

}
.mid_pic{
	width: 677px;
	margin-left: 20px;	
}
.visible{
	position: relative;
	overflow: hidden;
}
.all_pic{
	position: relative;
	width: 500%;
	left: -100%;
}
.all_pic li{
	height: 315px;
	width: 328px;
	float: left;
	
	padding-top: 10px;
	border-bottom: 1px solid #CAC2C2;
}
.li_right{
	padding-left: 10px;
	
}
.li_left{
	padding-right: 10px;
	border-right: 1px solid #CAC2C2;
}
.all_pic h1{
	
	color: #000;
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
}
.all_pic h3{
	color: #C9C3C3;
	height: 30px;
	line-height: 30px;
}
.all_pic h2{
	color: red;
	font-size: 25px;
	margin-top: 25px;
}
.all_pic img{
	width: 328px;
}
.but{
	position: absolute;
	top:50%;
	margin-top: -25px;
	height: 50px;
	width: 40px;
	font-size: 30px;
	text-align: center;
	line-height: 44px;
	background: rgba(100,100,100,0.5);
	cursor: pointer;
	color: #fff;
	z-index: 2;
}
.but:hover{
	background: rgba(100,100,100,0.8);
}
.but_left{left: 0;}
.but_right{
	right: 0;
	width: 70px;
}
.but_right span{
	font-size: 20px;
}
/*名店抢购*/
.panic{
	margin: 30px 0;
}
.Panic_buying span{
	display: inline-block;
	
	height: 50px;
	line-height: 50px;
}
.fist_name{
	font-size: 22px;
	text-indent: 40px; 
	background: url(../img/26.png) no-repeat center left;
}
.second_name{
	font-size: 16px;
	border: 1px solid #D7D1D1;
	padding: 0 5px;
}
.second_name i{
	font-style: normal;
	padding: 5px;
	margin: 0 2px;
	background: #9A9595;
	border-radius: 3px;
	color: #fff;
}
.second_name em{
	margin: 0 4px;
	font-style: normal;
}
.Panic_pic{
	position: relative;
	margin-top: 10px;
	width: 1170px;
	border: 1px solid #C7C1C1;
	border-right: none;
	overflow: hidden;
}
.all_Panic_pic{
	position: relative;
	width: 500%;
	left: -100%;
}
.all_Panic_pic li{
	border-right: 1px solid #C7C1C1;
	width: 234px;
	padding: 14px;
	box-sizing: border-box;
	float: left;

}
.all_Panic_pic li h1{
	font-size: 14px;
	color: #6D6A6A;
	margin:10px 0 ;
}
.all_Panic_pic li h3{
	color: #fff;
	background: #F77015;
	text-align: center;
	padding: 3px 0;
	margin-top: 20px;
	
}
.Price{
	padding:10px 0 ;
	border-bottom: 1px solid #C7C1C1;
}
.Price_1{
	color: #F4821F;
	font-size: 18px;
}
.Price_2{
	font-size: 12px;
	color: #AAA3A3;
	height: 18px;
	line-height: 18px;
}
/*商品列表*/
.all_list{
	margin: 30px 0;
}
.food_title{
	line-height: 50px;
}
.food_title_left{
	background: url(../img/32.jpg)  center left no-repeat;
	text-indent: 50px;
	font-size: 18px;	
}
.leisure{
	background: url(../img/39.jpg)  center left no-repeat;
}
.food_title_light{
	font-size: 14px;	
}
.food_title_light i{
	font-style: normal;
	margin: 0 5px;
	color: #C6BDBD;
}
.commodity_list{
	border: 1px solid #C7C1C1;
	border-right: none;
	margin-top: -1px;
}
.commodity_list li{
	width: 292px;
	border-right: 1px solid #C7C1C1;
	padding: 14px;
	box-sizing: border-box;
	float: left;
}
.commodity_list h1{
	margin-top: 10px;
}
.commodity_list span{
	display: inline-block;
}
.jiesao{
	display: block;
	font-size: 14px;
	margin-top: 10px;
}
.Price_3{
	color: red;
}
.pinglun{
	margin-top: 10px;
}
.youhui{
	color: #fff;
	background: #F89926;
	padding: 3px;
}
.star{
	
	vertical-align: -4px;
	height: 18px;
	width: 80px;
	background: url(../img/38.png)  center left;
}
.star1{
	height: 18px;
	width: 90%;
	background: url(../img/37.png) center left;
}
.more{
	background: #EAE4E4;
	height: 50px;
	width: 100%;
}
.more p{
	width: 250px;
	margin: 0 auto;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	background: url(../img/17.png) center right no-repeat;
}
/*主页底部*/
.foot{
	border-top: 1px solid #DBD6D6;
	border-bottom: 1px solid #DBD6D6;
	padding: 30px;
}
.foot dl{
	float: left;
	width: 200px;
	margin-left: 20px;
}
.foot dl dt{
	font-size: 18px;
	margin-bottom: 10px;
}
.foot dl dd{
	color: #A7A3A3;
	height: 18px;
	line-height: 18px;
}
.kefu{
	padding-left: 50px;
	border-left: 1px solid #D4CECE;
}
.kefu span{
	display: block;
	height: 20px;
	line-height: 20px;
}
.kefudianhua{

}
.kefunum{
	font-size: 18px;
}
.tuikuang{
	margin-top: 25px;
}
.jiaochen{
	color: #51EFA7;
}
/*主页备案*/
.beian{
	text-align: center;
	margin-bottom: 50px;}
.beian span{
	display: block;
	height: 80px;
	line-height: 80px;
	color: #B7B0B0;
}
/*右侧固定栏*/
.toolbar{
	position: fixed;
	right: 20px;
	top: 400px;
	width: 50px;
	height: 150px;
	border: 1px solid #BFBBBB;
	border-bottom: none;
	background: #fff;
	cursor: pointer;

}
.toolbar_1{
	display: none;
}
.toolbar_1,.toolbar_2,.toolbar_3,.toolbar_4{
	height: 50px;
	font-size: 16px;
	padding: 8px;
	box-sizing: border-box;
	border-bottom: 1px solid #BFBBBB;
	position: relative;
}
.toolbar_1 div,.toolbar_2 div,.toolbar_3 div,.toolbar_4 div{
	position: absolute;
	z-index: 2;
	background: #fff;
	display: none;
}
.toolbar img{
	position: absolute;
	width: 32px;
	height: 32px;
}
.toolbar_1:hover div,.toolbar_2:hover div,
.toolbar_3:hover div,.toolbar_4:hover div{
	display: block;
}
/*左侧固定栏*/

.toolbar_left{
	position: fixed;
	top:0px;
	left:50%;
	margin-left: -654px;
	width:50px;
	background: #fff;
	border: 1px solid #BFBBBB;
	border-bottom: none;
}
.toolbar_left div{
	height: 65px;
	text-align: center;
	line-height: 65px;
	font-size: 16px;
	border-bottom: 1px solid #BFBBBB;
	cursor: pointer;
}
.toolbar_left div:hover{
	
	color: #fff;
}



