<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
    <script src="https://cdn.bootcss.com/jquery/1.10.1/jquery.min.js"></script>
</head>

<body>
    <h1>这是我的第一个express服务器端视图文件</h1>
    <h2>我的传递的参数title为:{{title}}</h2>
    <h4>拍照</h4>
    <input type="file"  id="inputfile" value="3333" style="display:none">
    <div id="contianer" style="width:150px;height:150px;background:red"></div>
    <div id='test'>
        {{each list as value i}} {{value}} {{/each}}
    </div>
</body>
<!-- <script src="https://cdn.bootcss.com/template_js/0.7.1/template.min.js"></script>
<script src="/javascripts/index.js">
    // var data = {
    //     title: '标签',
    //     list: ['文艺', '博客', '摄影', '电影', '民谣', '旅行', '吉他']
    // };
    // var html = template('testTmp', data);
    // document.getElementById('test').innerHTML = html;
</script> -->
<!-- 这里是如何使用模板 -->
<script src="javascripts/index.js"></script>
<script>
    var input = $('#inputfile');
    var picDiv = $('#contianer');
    picDiv.click(function(){
        input.trigger("click",function(){
            debugger
        })
    })
</script>

</html>
<!-- <script id="testTmp" type="text/html">
    <div>
        <ul>
            <li>
                {{each list as value i}} {{value}} {{/each}}
            </li>
        </ul>
    </div>
</script> -->