/* 屏幕宽度在340px至410px时，基准尺寸使用20px */
html{
    font-size: 20px;
    height: 100%;
}
/* 屏幕宽度小于340px时，基准尺寸使用18px */
@media (max-width: 340px){ 
    html{
        font-size: 18px;
    }
}
/* 屏幕宽度大于410px时，基准尺寸使用22px */
@media (min-width: 410px){ 
    html{
        font-size: 22px;
    }
}
/* body默认样式 */
body{
    max-width: 640px;
    margin: 0 auto;
    background: #f8f8f8;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; 
    height: 100%;
} 
/* 页面蒙版 */
.tt-mask{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.5);
    z-index: 200;
}