/* 列表里每一行的容器 */
.tt-list > .tt-list-item{
    display: flex;
    position: relative;
    padding: .5rem 1rem;
    font-size: .8rem;
    background: #fff;
    color: #333;
    border-bottom: 1px solid #eee;
}
/* 列表项的图片容器 */
.tt-list .item-img-wrap{
    flex: 0 0 5rem;
    height: 5rem;
    margin-right: .5rem;
    border-radius: .2rem;
    overflow: hidden;
}
/* 列表项的图片 */
.tt-list .item-img-wrap > .item-img{
    width: 100%;
    height: 100%;
}
/* 列表项的文字区域 */
.tt-list .item-content-wrap{
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* div{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
} */
/* 列表项的标题 */
.tt-list .item-content-wrap > .item-title{
    height: 2rem;
    line-height: 1rem;
    font-size: .8rem;
    font-weight: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
/* 列表项的加个字段 */
.tt-list .item-content-wrap > .item-price{
    font-size: .8rem;
    font-weight: 600;
    color: #e0652f;
}
/* 列表项的描述字段 */
.tt-list .item-content-wrap > .item-desc{    
    color: #999;
    font-size: .6rem;
}