<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>自己搭建的vue项目</title>
    <link rel="stylesheet" href="/dist/main.css">
    <!-- <link rel="stylesheet" href="<%= htmlwebpackPlugin.files.css[0] %>"> -->
</head>
<body>
    <div id="app">
        <!-- hello world! -->
    </div>
    <script src="/dist/main.js"></script>
    <!-- <script type="text/javascript" src="<%= htmlwebpackPlugin.files.js[0] %>"></script> -->
</body>
</html>